<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajax Message</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<style>

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  ul {
    width: 100%;
    padding-top: 15px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  a {
    color: white;
    font-size: 20px;
  }
  header {
    width: 100%;
    background-color: rgba(29, 28, 28, 0.89);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    max-width: 1000px;
  }

  @media screen and (max-width:768px) {
  .tohide { 
    display: none; 
    }

    table {
      font-size: 12px;
    }

    ul {
      flex-direction: column;
    }
  }

</style>
<body>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/guestbook">Guestbook</a></li>
          <li><a href="/newmessage">New Message</a></li>
          <li><a href="/ajaxmessage">New Ajax Message</a></li>
        </ul>
      </nav>
    </header>
    <form method="POST" action="/addMessage">
      <div class="form-group">
        <label>
          Name
          <input type="text" class="form-control" id="name" name="name" />
        </label>
      </div>
      <div class="form-group">
        <label>
          Country
          <input type="text" class="form-control" id="country" name="country" />
        </label>
      </div>
      <div class="form-group">
        <label>
          Message
          <input type="text" class="form-control" id="message" name="message" />
        </label>
      </div>
      <button type="button" id="ajax-button" class="btn btn-primary">
        Add message
      </button>
    </form>
    <div class="container">
      <div id="root"></div>
    </div>
    <script>
      const ajaxButton = document.getElementById("ajax-button");

      ajaxButton.addEventListener("click", () => {
        const name = document.getElementById("name").value;
        const country = document.getElementById("country").value;
        const message = document.getElementById("message").value;

        console.log(name, country, message);

        if (name === "" || country === "" || message === "") {
          document.getElementById("root").innerHTML = "<p style='color: red; font-weight: bold; text-align: center;'>Fill all the fields before submitting the form.</p>";
          return;
        }

        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("root").innerHTML = this.responseText;
            console.log(this.responseText);
          }
        };

        xmlhttp.open("POST", "/addAjaxMessage", true);
        xmlhttp.setRequestHeader("Content-type", "application/json");

        const userInput = {
          name: name,
          country: country,
          message: message,
        };

        xmlhttp.send(JSON.stringify(userInput));
      });
    </script>
    <footer>Made by Konsta Nenonen</footer>
  </body>
</html>
