<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajax Message</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<style>

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  ul {
    width: 100%;
    padding-top: 15px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  a {
    color: white;
    font-size: 20px;
  }
  header {
    width: 100%;
    background-color: rgba(29, 28, 28, 0.89);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width:768px) {
  .tohide { 
    display: none; 
    }

  .welcome-box {
    margin: 0 10px;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }

  ul {
      flex-direction: column;
    }
  }
</style>
<body>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/guestbook">Guestbook</a></li>
          <li><a href="/newmessage">New Message</a></li>
          <li><a href="/ajaxmessage">New Ajax Message</a></li>
        </ul>
      </nav>
    </header>
  <form method="POST" action="/addNewMessage">
    <div class="form-group">
      <label>
        Name
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required>
      </label>
    </div>
    <div class="form-group">
      <label>
        Country
        <input
          type="text"
          class="form-control"
          id="country"
          name="country"
          required>
      </label>
    </div>
    <div class="form-group">
      <label>
        Message
        <input
          type="text"
          class="form-control"
          id="message"
          name="message"
          required>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">
      Add message
    </button>
  </form>
  <footer>Made by Konsta Nenonen</footer>
</body>
</html>
